<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Book</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="add_stock">
      <h1>Add New Book</h1>
        <form action="" method="POST">

          <label for="book_name">Book Name : </label>
          <input type="text" id="book_name" name="book_name" /> 
          
          <label for="book_desc">Book Decription : </label>
          <input type="text" id="book_desc" name="book_desc" />

          <label for="author_info">Author Info : </label>
          <input type="text" id="author_info" name="author_info" />

          <label for="stock">Stock : </label>
          <input type="number" id="stock" name="stock" />
          
          <br><br>
          <input type = "submit" value ="Add Book" />
        </form>
    </div>

  </body>
</html>
