<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership
    </title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
</head>
<body>
    {% include 'header.html' %}
    <div class="membership">
      <ul>
        <li>
            <a href="add_member">Add New member</a>
        </li>
        <br>
        <li>
            <a href="update_member">Extend Membership</a>
        </li>            
        <br>
        <li>
            <a href="view_members">View member</a>
        </li>        
      </ul>
  </div>
</body>
</html>