<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
</head>
<body>
    <div class="stock_options">
        <ul>
            <li>
                <a href="add_stock">Add New Book</a>
            </li>
            <br>
            <li>
                <a href="update_stock">Update Stock</a>
            </li>            
            <br>
            <li>
                <a href="search_stock">Search Stock</a>
            </li>        
        </ul>
    </div>
</body>
</html>