<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Stock</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="search_stock">
        <h1>View Stocks
        </h1>
        <table>
            {%for book in book_stock %}
                <tr>
                    <td>Book UID : {{book[0]}}</td> 
                    <td>Book Name : {{book[1]}}</td> 
                    <td>Book Desc : {{book[2]}}</td> 
                    <td>Author Info : {{book[3]}}</td> 
                    <td>Available Stock : {{book[4]}}</td> 
                </tr>
          {%endfor%}
        </table>
    </div>
</body>
</html>