<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Stock</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="search_stock">
        <h1>View Stocks
        </h1>
        <table>
            <th><b>Book UID </b></th>
            <th><b>Book Name </b></th>
            <th><b>Book Desc </b></th>
            <th><b>Author Info </b></th>
            <th><b>Available Stock </b></th>
            {%for book in book_stock %}
                <tr>
                    <td>{{book[0]}}</td> 
                    <td>{{book[1]}}</td> 
                    <td>{{book[2]}}</td> 
                    <td>{{book[3]}}</td> 
                    <td>{{book[4]}}</td> 
                </tr>
          {%endfor%}
        </table>
    </div>
</body>
</html>