<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Members</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles.css') }}"
  />
</head>
<body>
    {% include 'header.html' %}
    <div class="search_stock">
        <h1>View Members
        </h1>
        <table>
            <th><b>Member ID </b></th>
            <th><b>Member name </b></th>
            <th><b>Member email </b></th>
            <th><b>Membership duration</b></th>
            {%for member in members %}
                <tr>
                    <td>{{member[0]}}</td> 
                    <td>{{member[1]}}</td> 
                    <td>{{member[2]}}</td> 
                    <td>{{member[3]}}</td> 
                </tr>
          {%endfor%}
        </table>
    </div>
</body>
</html>